---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
---

<Layout title="Aktuelles | Truels Reichart, SPD">
  <main>
    <Article
      title="Truels Reichardt zum Kandidaten für die Bundestagswahl 2025 gewählt!"
      date="30. September 2024"
      text="Die SPD Nordfriesland und die SPD Dithmarschen-Nord haben heute (28.09.2024) auf ihrer Wahlkreiskonferenz in Mildstedt den Fraktionsvorsitzenden der nordfriesischen SPD-Kreistagsfraktion Truels Reichardt mit überwältigender Mehrheit zu ihrem Direktkandidaten für die nächste Bundestagswahl gewählt. Er erhielt mit 88 von 91 Stimmen ein äußerst überzeugendes Votum der Delegierten. Truels Reichardt war der einzige Kandidat, der sich für den Bundestagswahlkreis 002 (Nordfriesland und Dithmarschen-Nord) zur Wahl stellte. In seiner mit großem Beifall aufgenommenen Bewerbungsrede skizzierte Truels Reichardt, wofür er antritt: 'Ich sage euch zu, dass mich im Falle meiner Wahl in den Bundestag als Lobbyist im besten Sinne für die Westküste einsetzen werden: Für Fördermittel, für unsere Infrastruktur, für unsere Kliniken und für den wirtschaftlichen Aufschwung. Mit der Hartnäckigkeit, die viele von euch von mir aus der Kommunalpolitik kennen, nehme ich die Westküste in den Blick.'  Neben den Delegierten aus den Ortsvereinen konnten die beiden Kreisvorsitzenden Marc Timmer und Tordis Batscheider auch prominente Gäste begrüßen: die beiden nordfriesischen Bürgermeister Rolf Riebesell (Mildstedt) und Tobias Tietgen (Friedrichstadt), den Heider Bürgermeister Oliver Schmidt-Gutzat sowie den Kieler Oberbürgermeister und stellvertretenden Landesvorsitzenden Ulf Kämpfer.  'Wir freuen uns sehr, mit Truels Reichardt einen erfahrenen Kommunalpolitiker mit frischen Ideen ins Rennen schicken zu können. Obwohl er erst 30 Jahre alt ist, bringt er bereits viele Jahre Erfahrung in der Mildstedter Gemeindevertretung und im nordfriesischen Kreistag mit. Die enorme Zustimmung von fast 97% zeigt, dass die SPD geschlossen und zuversichtlich in den Wahlkampf geht. Wir werden Truels nach Kräften in seinem Wahlkampf unterstützen. Damit wir bald wieder eine starke Stimme für die Westküste in Berlin haben', so Marc Timmer und Tordis Batscheider."
    />
  </main>
</Layout>
