---
import Layout from "../layouts/Layout.astro";

const siteConfig = {
  title: "Datenschutzerklärung | Truels Reichardt, SPD",
  description:
    "Datenschutzerklärung mit allen relevanten Hinweisen für die Homepage des SPD-Bundestagskandidaten für Nordfriesland und Dithmarschen Nord Truels Reichardt",
  "og:image": "/assets/images/Reichardt_Truels.webp",
  "og:url": "https://truels-reichardt.de/datenschutz",
};
---

<Layout siteConfig={siteConfig}>
  <main>
    <p>
      Mit unserer Datenschutzerklärung klären wir Sie darüber auf, auf welche
      Art, in welchem Umfang und zu welchem Zweck wir personenbezogene Daten
      (nachfolgend kurz “Daten”) innerhalb unseres Online-Angebotes und der mit
      ihm verbundenen Webseiten, deren Funktionen und Inhalte sowie externen
      Online-Präsenzen, wie zum Beispiel unsere Social Media-Angebote (gemeinsam
      im Nachfolgenden als Online-Angebot bezeichnet), verarbeiten.
    </p>

    <p>
      Wir verweisen zu den verwendeten Begrifflichkeiten wie z. B.
      “Verarbeitung” oder “personenbezogene Daten” auf die Definitionen im Art.
      4 der Datenschutzgrundverordnung (DSGVO).
    </p>

    <h2>Wer ist Verantwortlicher für die Datenverarbeitung?</h2>

    <p>
      Verantwortlich für die Datenverarbeitung im Sinne der DSGVO ist der
      Betreiber dieses Online-Angebotes. Die Angaben zum Betreiber finden Sie im
      Impressum dieser Website.
    </p>

    <h2>Wie kann ich den Datenschutzbeauftragten kontaktieren?</h2>

    <p>
      Den für dieses Online-Angebot zuständigen Datenschutzbeauftragten können
      Sie wie folgt erreichen:
    </p>

    <p>E-Mail: t.reichardt@spdnordfriesland.de</p>

    <h2>Welche Arten der Daten werden verarbeitet?</h2>
    <ul>
      <li>
        Kontaktdaten: Vorname und Nachname, Anschrift, Telefonnummer,
        E-Mail-Adresse
      </li>
      <li>
        Interessen: Von Ihnen bereitgestellte Angaben über Interessensgebiete
      </li>
      <li>
        Weitere persönliche Daten: Von Ihnen bereitgestellte Informationen zum
        Beispiel zu Geburtsdatum, Beruf, Bildung oder weiteren Angaben zu Ihrer
        Lebenssituation
      </li>
      <li>
        Nutzungsinformationen: Informationen darüber, wie sie unsere Website
        nutzen und ob Sie E-Mail-Benachrichtigungen von uns öffnen und Links
        darin anklicken.
      </li>
    </ul>

    <h2>
      Welche besonderen Kategorien von Daten nach Art. 9 Abs. 1 DSGVO werden
      verarbeitet:
    </h2>

    <p>
      Auf diesem Online-Angebot werden gegebenenfalls besondere Kategorien von
      Daten verarbeitet.
    </p>

    <ul>
      <li>
        Daten zur politischen Meinung: Von Ihnen bereitgestellte Daten und
        Inhalte, die Ihre politische Meinung betreffen.
      </li>
      <li>
        Daten über die Mitgliedschaft in der Partei, in einer parteizugehörigen
        Jugendorganisation oder in einer Gewerkschaft: Zum Beispiel von Ihnen
        bereitgestellte Angaben über eine möglicherweise bestehende
        Mitgliedschaft in einer Partei oder Gewerkschaft, Mitgliedsnummer,
        Ortsverein, ausgeübte Funktion, Dauer der Mitgliedschaft und Name der
        Organisation
      </li>
    </ul>

    <h2>
      Welche Kategorien von Personen sind von der Verarbeitung betroffenen?
    </h2>

    <ul>
      <li>
        Besucher und Nutzer dieses Online-Angebotes, seiner Inhalte und
        Funktionen
      </li>
      <li>Interessierte Bürgerinnen und Bürger</li>
      <li>An einer Mitgliedschaft in der SPD interessierte Personen</li>
      <li>Mitglieder</li>
    </ul>

    <h2>Was ist der Zweck der Verarbeitung?</h2>

    <ul>
      <li>
        Bereitstellung des Online-Angebotes, seiner Inhalte und Funktionen
      </li>
      <li>Bearbeitung von Kontaktanfragen und Kommunikation mit Nutzern</li>
      <li>Marketing und Werbung</li>
      <li>Sicherheitsmaßnahmen</li>
      <li>
        Mitgliederverwaltung, Mitgliederinformation, Mitgliederbetreuung und
        -bindung
      </li>
    </ul>

    <h2>Welche Rechtsgrundlagen sind maßgeblich?</h2>

    <p>
      Wir teilen Ihnen gemäß Art. 13 DSGVO mit, auf welchen Rechtsgrundlagen
      unsere Datenverarbeitung erfolgt. Falls die Rechtsgrundlage in dieser
      Datenschutzerklärung nicht jeweils aufgeführt wird, gilt:
    </p>

    <p>
      Für die Einholung von Einwilligungen gilt Art. 6 Abs. 1 lit. a und Art. 7
      DSGVO als Rechtsgrundlage. Für die Verarbeitung der Daten zur Erfüllung
      unserer Leistungen und Durchführung vertraglicher Maßnahmen – zum Beispiel
      im Rahmen der Parteimitgliedschaft – sowie der Beantwortung von Anfragen
      gilt Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Für die Verarbeitung
      von Daten zur Erfüllung rechtlichen Verpflichtungen gilt Art. 6 Abs. 1
      lit. c DSGVO die Rechtsgrundlage. Für die Verarbeitung von Daten zur
      Wahrung unserer berechtigten Interessen gilt Art. 6 Abs. 1 lit. f DSGVO
      als Rechtsgrundlage.
    </p>

    <p>
      Falls lebenswichtige Interessen von einer betroffenen Person oder von
      einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten
      notwendig machen, ist Art. 6 Abs. 1 lit. d DSGVO die Rechtsgrundlage.
    </p>

    <h2>Änderungen und Aktualisierungen an der Datenschutzerklärung</h2>

    <p>
      Bitte sehen Sie sich in regelmäßigen Abständen den Inhalt unserer
      Datenschutzerklärung an. Anpassungen und Aktualisierungen daran führen wir
      immer dann durch, wenn eine Änderung unserer Datenverarbeitung dies
      notwendig macht.
    </p>

    <h2>Maßnahmen zur Sicherheit</h2>

    <p>
      Wir nutzten Sicherheitsmaßnahmen in Form von Verschlüsselungstechnologie
      und Authentifizierungswerkzeugen nach aktuellem Stand der Technik. Damit
      schützen wir die Sicherheit, Integrität und Verfügbarkeit Ihrer Daten und
      erhalten diese aufrecht. Der vollständige Schutz vor nicht berechtigtem
      Zugriff kann bei der Übertragung von Daten im Internet oder über eine
      Website nicht sichergestellt werden. Wir und die von uns beauftragten
      Dienstleister haben nach besten Kräften das Bemühen, durch physische und
      elektronische Sicherheitsvorkehrungen und durch entsprechende Verfahren,
      die dem aktuellen Stand der Technik entsprechen, personenbezogene Daten
      von Ihnen gemäß den geltenden Datenschutzvorschriften zu schützen.
    </p>

    <p>Wir setzen dazu unter anderem folgende Maßnahmen ein:</p>

    <ul>
      <li>
        Berechtigung zum Zugriff auf Ihre Daten erfolgen nach strengen
        Kriterien, nach dem Prinzip „Need-to-Know“ beschränkt auf einen
        möglichst kleinen Personenkreis und ausschließlich zum angegebenen Zweck
      </li>
      <li>
        Absicherung unserer IT-Systeme zum Schutz vor nicht befugtem Zugriff (z.
        B. durch Hacker) mit einer Firewall-Absicherung
      </li>
      <li>
        Erkennung und Verhinderung von der missbräuchlichen Verwendung
        personenbezogener Daten durch ständige Überwachung und Monitoring des
        Zugriffes auf unsere IT-Systeme
      </li>
    </ul>

    <p>
      Zu den Sicherheitsmaßnahmen gehört insbesondere die verschlüsselte
      Übertragung von Daten zwischen Ihrem Browser und unserem Server.
    </p>

    <h2>Auftragsdatenverarbeiter oder Dritte</h2>

    <p>
      Falls wir bei unserer Verarbeitung von Daten diese gegenüber
      Auftragsverarbeitern oder Dritten offenbaren, diese an sie übermitteln
      oder Ihnen darauf sonstigen Zugriff gewähren, so tun wir dies, weil uns
      dazu eine Einwilligung vorliegt, wir dazu rechtlich verpflichtet sind, ein
      berechtigtes Interesse unsererseits besteht oder eine gesetzliche
      Erlaubnis vorliegt.
    </p>
    <p>
      Falls wir mit Dritten für die Verarbeitung einen “Vertrag zur
      Auftragsdatenverarbeitung abgeschlossen haben, so gilt dafür der Art. 28.
      DSGVO als Rechtsgrundlage.
    </p>

    <h2>Datenübertragung in Drittländer</h2>

    <p>
      Wir betreiben unsere Website auf Servern in Rechenzentren, die
      ausschließlich in der Region Frankfurt angesiedelt sind.<br />
      Für die weltweite Bereitstellung der Website verwenden wir das Content Delivery
      Network (CDN) Cloudfront. Dies ist ein Dienst der Amazon Web Services Inc.,
      410 Terry Avenue North, Seattle, WA 98109-5210. Es stellt Duplikate von Daten
      einer Website auf verschiedenen weltweit verteilten AWS-Servern zur Verfügung.
      <br />
      Auf diese im Nicht-EU-Ausland stehenden Server wird nur in dem Fall zugegriffen,
      wenn diese Website aus einem Netzwerk im Nicht-EU-Ausland aufgerufen wird.
      Das bedeutet: Besuchst Du die Website von einem Internetzugang aus Deutschland
      oder aus der EU, wird die Website von unseren Servern in Deutschland / der
      EU geladen. Nur dann, wenn Sie von außerhalb der EU aus die Website besuchen,
      wird die Website von einem nächstgelegenen Server außerhalb der EU bereitgestellt.
      <br />
      Damit erreichen wir eine schnellere Ladezeit der Website, eine höhere Ausfallsicherheit
      und einen erhöhten Schutz vor Datenverlust. Einige der auf dieser Website eingebundenen
      Bilder und Dateien werden dann beim Aufruf der Seite aus dem Cloudfront CDN
      geladen.
      <br />
      Durch diesen Abruf werden Informationen über Ihre Nutzung unserer Website (wie
      z.B. Ihre IP-Adresse) an Server von Amazon ins EU-Ausland übertragen und dort
      gespeichert. Dies geschieht sobald Sie unsere Website betreten. Die Nutzung
      von Amazon Web Services und dem Amazon CDN Cloudfront erfolgt im Interesse
      einer höheren Ausfallsicherheit der Website, dem erhöhten Schutz vor Datenverlust
      und einer besseren Ladegeschwindigkeit dieser Website. Dies stellt ein berechtigtes
      Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Mehr über die Datenschutzmaßnahmen
      von Amazon Web Services erfahren Sie unter: <a
        href="https://aws.amazon.com/de/data-protection/"
        target="_blank">https://aws.amazon.com/de/data-protection/</a
      > Die aktuelle Datenschutzerklärung von AWS finden Sie unter: <a
        href="https://aws.amazon.com/de/privacy/"
        target="_blank">https://aws.amazon.com/de/privacy/</a
      > AWS hat sich vertraglich verpflichtet, nach den EU-Standardvertragsklauseln
      die Einhaltung des in der EU geltenden Datenschutzniveaus zu gewährleisten.
      <br />
      Auf unserer Website können Inhalte von Diensten eingebunden sein, deren Unternehmen
      ihren Sitz in den USA haben. Wenn diese Dienste aktiv sind, können Ihre personenbezogenen
      Daten an die Server der jeweiligen Unternehmen in den USA weitergegeben werden.
      Wir weisen darauf hin, dass die USA kein sicherer Drittstaat im Sinne des EU-Datenschutzrechts
      sind. US-Unternehmen sind dazu verpflichtet, personenbezogene Daten an Sicherheitsbehörden
      herauszugeben, ohne dass Sie als Betroffener hiergegen gerichtlich vorgehen
      könnten. Es kann daher nicht ausgeschlossen werden, dass Behörden der USA Ihre
      auf dort betriebenen Servern befindlichen Daten zu Überwachungszwecken verarbeiten,
      auswerten und dauerhaft speichern. Wir haben auf diese Verarbeitungstätigkeiten
      keinen Einfluss.
    </p>

    <h2>Ihre Rechte</h2>

    <p>
      Nach Art. 15 DSGVO können Sie eine Bestätigung darüber verlangen, ob wir
      betreffende personenbezogene Daten von Ihnen verarbeiten. Sie können
      Auskunft über diese Daten, auf weitere Informationen und eine Kopie der
      Daten verlangen.
    </p>

    <p>
      Nach Art. 16 DSGVO können Sie die Vervollständigung betreffender
      personenbezogener Daten oder auch deren Berichtigung verlangen.
    </p>

    <p>
      Nach Art. 17 DSGVO können Sie die unverzügliche Löschung Ihrer
      personenbezogenen Daten verlangen. Nach Art. 18 DSGVO können sie
      alternativ verlangen, dass die Verarbeitung Ihrer personenbezogenen Daten
      einschränkt wird.
    </p>

    <p>
      Nach Art. 20 DSGVO können Sie verlangen, dass Sie Ihre personenbezogenen
      Daten, die Sie uns zur Verfügung gestellt haben, erhalten oder wir diese
      an andere Datenverantwortliche übermitteln.
    </p>

    <p>
      Nach Art. 77 DSGVO können Sie darüber hinaus bei der zuständigen
      Aufsichtsbehörde eine Beschwerde einreichen.
    </p>

    <h2>Widerrufsrecht</h2>

    <p>
      Sofern Sie uns eine Einwilligung in die Verarbeitung personenbezogener
      Daten erteilt haben, können Sie diese jederzeit uns gegenüber widerrufen.
      Selbstverständlich gilt dies auch für vor dem 25. Mai 2018 (vor der
      Geltung der DSGVO) erteilte Einwilligungserklärungen. Der Widerruf einer
      Einwilligung kann immer erst für die Zukunft Geltung entfalten. Die
      Rechtmäßigkeit der Verarbeitung wird durch einen Widerruf nicht
      rückwirkend beseitigt. Bitte richten Sie Ihren Widerruf per E-Mail an den
      im Impressum genannten Betreiber der Website.
    </p>

    <h2>Widerspruchsrecht</h2>

    <p>
      Ein Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener
      Daten, aufgrund von Artikel 6 Abs. 1 e (Datenverarbeitung im öffentlichen
      Interesse) oder f (Datenverarbeitung zur Wahrung berechtigter Interessen
      auf Grundlage einer Interessenabwägung) ist gemäß Artikel 21 DSGVO
      jederzeit möglich. Im Falle eines Widerspruches werden die
      personenbezogenen Daten nicht mehr verarbeitet, es sei denn, es werden
      zwingende schutzwürdige Gründe für die Verarbeitung nachgewiesen, die die
      Interessen, Rechte und Freiheiten der betroffenen Person überwiegen oder
      die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von
      Rechtsansprüchen. Bitte richten Sie ihren Widerruf an den im Impressum
      genannten Betreiber der Website.
    </p>

    <h2>Datenlöschung</h2>

    <p>
      Wir löschen nach den Maßgaben der Art. 17 und 18 DSGVO die von uns
      verarbeiteten Daten oder schränken diese ein. Die von uns gespeicherten
      Daten werden gelöscht, wenn sie für den jeweiligen Zweck nicht mehr
      erforderlich sind und wir nicht gesetzlich zur Aufbewahrung verpflichtet
      sind. Falls die Löschung der Daten nicht erfolgt, weil sie für andere oder
      gesetzlich vorgeschriebene Zwecke erforderlich sind, wird Ihre
      Verarbeitung von uns eingeschränkt. Es erfolgt also eine Sperrung der
      Daten. Sie werden dann nicht mehr für andere Zwecke verarbeitet.
    </p>

    <h2>Kontaktformulare und andere Formulare</h2>

    <p>
      Wenn Sie mit uns über ein Kontaktformular Kontakt aufnehmen, ein anderes
      Formular unseres Online-Angebotes nutzen oder eine E-Mail senden, werden
      Ihre Daten zur Bearbeitung oder Abwicklung lt. Art. 6. Abs. 1 lit. b)
      DSGVO verarbeitet.
    </p>

    <p>
      Die Angaben, die Sie in einem Kontaktformular oder in einem anderen
      Formular machen, werden auf unserem Server gespeichert und gegebenenfalls
      per unverschlüsselter E-Mail an einen vom Nutzer oder von uns ausgewählten
      Ansprechpartner zur Bearbeitung der Kontaktaufnahme oder Formulardaten
      weiterversendet.
    </p>

    <p>
      Bei der Nutzung jeglicher Formulare auf unserem Online-Angebot erteilen
      Sie eine Einwilligung. Ihre Einwilligung erfolgt dabei im Einzelfall auch
      zu einer weitergehenden Nutzung ihrer personenbezogenen Daten. Dies kann
      zum Beispiel bei der Anmeldung zu einer Veranstaltung über ein
      Anmeldeformular die Speicherung, Verarbeitung und Nutzung Ihrer Daten zur
      Kontaktaufnahme zur Veranstaltungsplanung und -durchführung, das Führen
      und Veröffentlichen einer Teilnehmerliste oder die Erstellung von
      Namensschildern umfassen. Details hierzu ergeben sich aus der jeweiligen
      Einwilligungserklärung, die Sie beim Ausfüllen der Formulare auf diesem
      Online-Angebot vorfinden.
    </p>

    <p>
      Gespeicherte Anfragen auf unserem Server werden gelöscht, sofern diese
      nicht mehr erforderlich sind. Die Erforderlichkeit überprüfen wir jeweils
      alle zwei Jahre.
    </p>

    <h2>Kommentare</h2>

    <p>
      Wenn Sie die gegebenenfalls in diesem Online-Angebot angebotene
      Kommentarfunktion nutzen, werden die von Ihnen angegebenen
      personenbezogenen Daten (Ihr Name, Ihre E-Mail-Adresse, optional die
      Angabe Ihrer Website und Ihr Kommentar mit Datum und Uhrzeit) sowie ihre
      IP-Adresse in anonymisierter, gekürzter Form gespeichert. Dies erfolgt auf
      der Basis unseres berechtigten Interesses im Sinne des Art. 6 Abs. 1 lit.
      f. DSGVO.
    </p>

    <p>
      Ihr Kommentar, Ihr Name und die optional angegeben Website werden auf
      unserer Website veröffentlicht.
    </p>

    <p>
      Die Speicherung Ihrer Daten zum Kommentar erfolgt auch zu unserer
      Sicherheit, falls jemand in Kommentaren und Beiträgen widerrechtliche
      Inhalte hinterlässt. Im Falle eines vermuteten Rechtsverstoßes sind wir
      gegebenenfalls rechtlich verpflichtet, personenbezogene Daten zur
      Ermittlung der Identität des Verfassers an Behörden herauszugeben.
    </p>

    <p>
      Wir behalten uns das Recht vor, Ihren Kommentar auf unserer Website nicht
      zu veröffentlichen.
    </p>

    <h2>Technische Zugriffsdaten und Logfiles</h2>

    <p>
      Über jeden Zugriff auf unser Netzwerk, in dem dieses Online-Angebot
      betrieben wird, erheben wir auf der Basis unseres berechtigten Interesses
      lt. Art. 6. Abs. 1 lit. f) DSGVO, Daten. Folgende Daten erheben wir in
      Logfiles: Abgerufene Webseite, abgerufene Datei, das Datum und die Uhrzeit
      des Aufrufs, die übertragene Datenmenge, den Status des Aufrufs, den von
      Ihnen verwendeten Browsertypen inklusive Versionsnummer, das von Ihnen
      verwendete Betriebssystem, die sogenannte Referrer-URL der zuvor besuchten
      Seite und Ihre IP-Adresse.
    </p>

    <p>
      Diese Logfile-Informationen speichern wir aus Sicherheitsgründen und für
      eine Dauer von maximal vierzehn Tagen. Sie sind zum Beispiel erforderlich
      um Missbrauchs- oder Betrugshandlungen aufzuklären. Sie werden danach
      gelöscht. Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich
      ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von der
      Löschung ausgenommen.
    </p>

    <h2>Onlinepräsenzen in sozialen Medien</h2>

    <p>
      Neben diesem Online-Angebot betreiben wir möglicherweise aus berechtigtem
      Interesse lt. Art. 6 Abs. 1 lit. f DSGVO auch Angebote in sozialen
      Netzwerken oder weiteren Plattformen im Internet. Dort treten wir mit
      Bürgerinnen und Bürgern, mit Mitgliedern und Interessierten in Kontakt,
      kommunizieren mit ihnen und informieren sie über unsere Arbeit. Auf den
      jeweiligen Angeboten und Plattformen gelten jeweils die von den Betreibern
      veröffentlichten Geschäftsbedingungen und Datenverarbeitungsrichtlinien.<br
      />
      Soweit wir es nicht anders im weiteren Verlauf unserer Datenschutzerklärung
      angegeben haben, verarbeiten wir die Daten der Nutzer sofern diese mit uns
      innerhalb der sozialen Netzwerke und Plattformen kommunizieren, z. B. Beiträge
      auf unseren dortigen Onlinepräsenzen verfassen oder uns Nachrichten zusenden.
    </p>

    <h2 id="cookies">Cookies &amp; Reichweitenmessung</h2>

    <p>
      Cookies sind kleine Dateien, die von unserem Server oder von Servern
      Dritter an Ihren Browser übertragen werden und dort für einen
      anschließenden Abruf gespeichert werden.
    </p>

    <table>
      <tbody
        ><tr>
          <td><strong>Name:</strong></td>
          <td><strong>slimstat_tracking</strong></td>
        </tr><tr> </tr>
        <tr
          ><td>Klasse:</td>
          <td>Nutzungsauswertung/analyse</td>
        </tr><tr> </tr>
        <tr
          ><td>Beschreibung</td>
          <td
            >Zur Optimierung unseres Online-Angebots analysieren wir die
            Nutzung. Der Cookie enthält keine personenbezogenen Daten und wird
            nur mit Ihrer expliziten Einwilligung (Opt-In) gesetzt. Unsere
            Nutzungsanalyse wird nur mit komplett anonymisierte Daten erstellt.
            Die erhobenen Nutzungsdaten kommen nur zur internen Verwendung und
            werden in keinem Fall an Dritte weitergegeben.</td
          >
        </tr><tr>
          <td>personenbezogene Daten:</td>
          <td>nein</td>
        </tr><tr> </tr>
        <tr
          ><td>wird gelöscht nach:</td>
          <td>60 Minuten</td>
        </tr><tr> </tr>
        <tr><td><strong>Name:</strong></td> </tr><tr> </tr>
        <tr
          ><td>Klasse:</td>
          <td>funktionaler Cookie</td>
        </tr><tr> </tr>
        <tr
          ><td>Beschreibung</td>
          <td
            >Beim Kommentieren haben Sie die optionale Möglichkeit, ihre Daten
            zur Verwendung für weitere Kommentare zu speichern.</td
          >
        </tr><tr> </tr>
        <tr
          ><td>personenbezogene Daten:</td>
          <td>ja</td>
        </tr><tr> </tr>
        <tr
          ><td>wird gelöscht nach:</td>
          <td>1 Jahr</td>
        </tr><tr> </tr>
        <tr
          ><td><strong>Name:</strong></td>
          <td><strong>cookieconsent_status</strong></td>
        </tr><tr> </tr>
        <tr
          ><td>Klasse:</td>
          <td>funktionaler Cookie</td>
        </tr><tr> </tr>
        <tr
          ><td>Beschreibung</td>
          <td
            >In diesem Cookie wird Ihre Zustimmung oder Ablehnung zur Nutzung
            von Cookies gespeichert.</td
          >
        </tr><tr> </tr>
        <tr
          ><td>personenbezogene Daten:</td>
          <td>nein</td>
        </tr><tr> </tr>
        <tr
          ><td>wird gelöscht nach:</td>
          <td>1 Jahr</td>
        </tr><tr> </tr>
        <tr
          ><td><strong>Name:</strong></td>
          <td><strong>wordpress_test_cookie</strong></td>
        </tr><tr> </tr>
        <tr
          ><td>Klasse:</td>
          <td>funktionaler Cookie</td>
        </tr><tr> </tr>
        <tr
          ><td>Beschreibung</td>
          <td
            >Ein Test-Cookie, mit dem das verwendete Redaktionssystem die
            Möglichkeit testet, ob Cookies gesetzt werden können.</td
          >
        </tr><tr> </tr>
        <tr
          ><td>personenbezogene Daten:</td>
          <td>nein</td>
        </tr><tr> </tr>
        <tr
          ><td>wird gelöscht nach:</td>
          <td>1 Jahr</td>
        </tr><tr> </tr>
        <tr
          ><td><strong>Name:</strong></td>
          <td><strong>wordpress_user_random</strong></td>
        </tr><tr> </tr>
        <tr
          ><td>Klasse:</td>
          <td>funktionaler Cookie</td>
        </tr><tr> </tr>
        <tr
          ><td>Beschreibung</td>
          <td
            >Der Cookie wird zur Umsetzung des Cachings für am verwendeten
            Redaktionssystem angemeldete Redakteure verwendet. Wenn keine
            Anmeldung am Redaktionssystem vorliegt enthält der Cookie den Text
            ‘deleted’</td
          >
        </tr><tr> </tr>
        <tr
          ><td>personenbezogene Daten:</td>
          <td>nein</td>
        </tr><tr> </tr>
        <tr
          ><td>wird gelöscht nach:</td>
          <td>sofort</td>
        </tr>
      </tbody>
    </table>

    <p>
      Darüber hinaus setzen wir weitere funktionale Cookies bei Besuchern
      unserer Website, wenn diese versuchen, sich am verwendeten
      Redaktionssystem anzumelden oder die Anmelde-Seite aufrufen, zur Sicherung
      und Verarbeitung des Anmeldeprozesses.
    </p>

    <p>
      Sie können verhindern, dass Cookies auf Ihrem Computer gespeichert werden.
      Dazu schalten Sie die entsprechenden Systemeinstellungen in Ihrem Browser
      aus. Bereits gespeicherte Cookies können Sie in den Systemeinstellungen
      Ihres Browsers löschen. Sofern Sie die Nutzung von Cookies in Ihrem
      Browser abschalten, kann es zu Funktionseinschränkungen unseres
      Online-Angebotes kommen.
    </p>

    <p>
      Klicken Sie hier um Änderungen an ihren <a
        href="#"
        data-cc="c-settings"
        aria-haspopup="dialog">Cookie-Einstellungen</a
      > vorzunehmen.
    </p>
    <h2>Einbettung von Diensten und Inhalten Dritter</h2>

    <p>
      In unserem Online-Angebot betten wir gelegentlich Inhalte und Angebote von
      Dritten ein. Dies erfolgt auf der Grundlage unseres berechtigten
      Interesses lt. Art. 6 Abs. 1 lit. f) DSGVO.
    </p>

    <p>
      Bei der Einbettung von Inhalten und Angeboten Dritter versuchen wir,
      sofern es mit technisch und wirtschaftlich vertretbarem Aufwand möglich
      ist, die Inhalte und Angebote erst nach einer expliziten Zustimmung zu
      laden. In diesen Fällen findet ohne die Zustimmung keine Kontaktaufnahme
      mit den Servern der Dritt-Anbieter statt.
    </p>

    <p>
      Die Anzeige der Inhalte setzt zwingend voraus, dass die Anbieter dieser
      Inhalte Ihre IP-Adresse erfahren, da sie ohne diese IP-Adresse die Inhalte
      nicht an Ihren Browser senden könnten. Die IP-Adresse ist daher für die
      Anzeige dieser Inhalte erforderlich.
    </p>

    <p>
      Wir bemühen uns, nur solche Inhalte einzubetten, deren Anbieter die
      IP-Adresse nur für die Auslieferung der Inhalte nutzen. Pseudonyme
      Informationen können darüber hinaus von den Anbietern in Cookies auf dem
      Gerät der Nutzer gespeichert werden und unter anderem technische
      Informationen zum Browser und Betriebssystem, verweisende Webseiten,
      Besuchszeit sowie weitere Angaben zur Nutzung des eingebetteten Inhaltes
      enthalten, als auch mit solchen Informationen aus anderen Quellen
      verbunden werden.
    </p>

    <p>
      Nachfolgend listen wir beispielhaft Drittanbieter sowie ihre Inhalte auf,
      die wir gegebenenfalls einbetten. Sie finden hier auch Links zu deren
      Datenschutzerklärungen, Hinweise zur Verarbeitung von Daten und
      Möglichkeiten zum Widerspruch und Opt-Out:
    </p>

    <ul>
      <li>
        Karten des Dienstes „Google Maps“<br />Diensteanbieter ist Google
        Ireland Limited (nach irischem Recht eingetragen und betrieben,
        Registernummer 368047), Gordon House, Barrow Street, Dublin 4, Irland.
        Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View,
        CA 94043, USA. Die Datenübertragung in die USA wird auf die
        Standardvertragsklauseln der EU-Kommission gestützt. Details finden Sie
        hier: <a
          href="https://privacy.google.com/businesses/gdprcontrollerterms/"
          >https://privacy.google.com/businesses/gdprcontrollerterms/</a
        > und <a
          href="https://privacy.google.com/businesses/gdprcontrollerterms/sccs/"
          >https://privacy.google.com/businesses/gdprcontrollerterms/sccs/<br
          /></a
        >Datenschutzerklärung: <a
          href="https://www.google.com/policies/privacy/"
          >https://www.google.com/policies/privacy/<br /></a
        >Opt-Out: <a href="https://www.google.com/settings/ads/"
          >https://www.google.com/settings/ads/<br /></a
        >
      </li>
      <li>
        Videos der Plattform “YouTube” <br />Diensteanbieter ist Google Ireland
        Limited (nach irischem Recht eingetragen und betrieben, Registernummer
        368047), Gordon House, Barrow Street, Dublin 4, Irland.
        Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway, Mountain View,
        CA 94043, USA.<br />Datenschutzerklärung: <a
          href="https://policies.google.com/privacy"
          >https://policies.google.com/privacy<br /></a
        >Opt-Out-Plug-in: <a
          href="https://tools.google.com/dlpage/gaoptout?hl=de"
          >https://tools.google.com/dlpage/gaoptout?hl=de<br /></a
        >Einstellungen für die Darstellung von Werbeeinblendungen: <a
          href="https://adssettings.google.com/authenticated"
          >https://adssettings.google.com/authenticated</a
        >
      </li>
      <li>
        Inhalte des sozialen Netzwerks Facebook<br />Diensteanbieter ist Meta
        Platforms Ireland Limited (nach irischem Recht eingetragen und
        betrieben, Registernummer 462932), 4 Grand Canal Square, Dublin 2,
        Irland. Mutterunternehmen: Meta Platforms, Inc., 1 Hacker Way, Menlo
        Park, CA 94025, USA. Die erfassten Daten werden nach Aussage von Meta
        jedoch auch in die USA und in andere Drittländer übertragen. Die
        Datenübertragung in die USA wird auf die Standardvertragsklauseln der
        EU-Kommission gestützt. Details finden Sie hier: <a
          href="https://www.facebook.com/legal/EU_data_transfer_addendum"
          >https://www.facebook.com/legal/EU_data_transfer_addendum</a
        > und <a href="https://de-de.facebook.com/help/566994660333381"
          >https://de-de.facebook.com/help/566994660333381<br /></a
        >Datenschutzerklärung: <a href="https://de-de.facebook.com/policy.php"
          >https://de-de.facebook.com/policy.php</a
        ><br />Eine Liste und das Aussehen möglicher eingebetteter Facebook
        Inhalte kann hier eingesehen werden: <a
          href="https://developers.facebook.com/docs/plugins/"
          >https://developers.facebook.com/docs/plugins/</a
        > Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem
        Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte vorher aus Ihrem
        Facebook-Benutzerkonto aus. Zu der internen Verarbeitung INSIGHTS bei Facebook
        sind die Regelungen unter <a
          href="https://www.facebook.com/legal/terms/page_controller_addendum"
          >https://www.facebook.com/legal/terms/page_controller_addendum</a
        > nachzulesen. Diese sind folgend kurz zusammengefasst: Betroffenenrechte
        können bei Facebook Irland sowie bei uns geltend gemacht werden, die primäre
        Verantwortung gemäß DSGVO für die Verarbeitung von Insights-Daten liegt jedoch
        bei Facebook. Wir treffen keine Entscheidungen hinsichtlich der Verarbeitung
        von Insights-Daten und alle weiteren sich aus Art. 13 DSGVO ergebenden Informationen,
        darunter Rechtsgrundlage, Identität des Verantwortlichen und Speicherdauer
        von Cookies auf Nutzerendgeräten. Meta erfüllt sämtliche Pflichten aus der
        DSGVO im Hinblick auf die Verarbeitung von Insights-Daten. Meta Platforms
        Ireland Limited stellt das Wesentliche der Seiten-Insights-Ergänzung den
        betroffenen Personen zur Verfügung. Widerspruchsmöglichkeit (Opt-Out): Einstellungen
        für Werbeanzeigen:
        <a href="https://www.facebook.com/settings?tab=ads"
          >https://www.facebook.com/settings?tab=ads</a
        >
      </li>
      <li>
        Inhalte der Plattform Instagram<br />Diensteanbieter ist Meta Platforms
        Ireland Limited (nach irischem Recht eingetragen und betrieben,
        Registernummer 462932), 4 Grand Canal Square, Dublin 2, Irland.
        Mutterunternehmen: Meta Platforms, Inc., 1 Hacker Way, Menlo Park, CA
        94025, USA. Es ist davon auszugehen, dass übertragene Daten auch an die
        USA und in andere Drittländer übertragen werden. Die Datenübertragung in
        die USA wird auf die Standardvertragsklauseln der EU-Kommission
        gestützt. Details finden Sie hier: <a
          href="https://www.facebook.com/legal/EU_data_transfer_addendum"
          >https://www.facebook.com/legal/EU_data_transfer_addendum</a
        >, <a href="https://help.instagram.com/519522125107875"
          >https://help.instagram.com/519522125107875</a
        > und <a href="https://de-de.facebook.com/help/566994660333381"
          >https://de-de.facebook.com/help/566994660333381</a
        ><br />Wenn Sie in Ihrem Instagram-Account eingeloggt sind, wird durch
        Anklicken des Instagram-Buttons der Besuch unserer Seiten mit Ihrem
        Instagram-Profil verbunden. Dadurch kann Instagram den Besuch unserer
        Seiten Ihrem Benutzerkonto zuordnen. Wenn Sie nicht wünschen, dass
        Instagram den Besuch unserer Seiten Ihrem Instagram-Nutzerkonto zuordnen
        kann, loggen Sie sich vorher aus Ihrem Instagram-Benutzerkonto aus.
        Weitere Informationen hierzu finden Sie in der Datenschutzerklärung: <a
          href="https://instagram.com/about/legal/privacy/"
          >https://instagram.com/about/legal/privacy/</a
        >
      </li>
      <li>
        Inhalte der Plattform Twitter<br />Diensteanbieter: Twitter
        International Company, One Cumberland Place, Fenian Street, Dublin 2,
        D02 AX07, Ireland. Mutterunternehmen: Twitter Inc., 1355 Market Street,
        Suite 900, San Francisco, CA 94103, USA. Es ist davon auszugehen, dass
        übertragene Daten auch an die USA und in andere Drittländer übertragen
        werden. Die Datenübertragung in die USA wird auf die
        Standardvertragsklauseln der EU-Kommission gestützt. Details finden Sie
        hier: <a
          href="https://gdpr.twitter.com/en/controller-to-controller-transfers.html"
          >https://gdpr.twitter.com/en/controller-to-controller-transfers.html<br
          /></a
        >Die Funktionen beinhalten die Darstellung von Twitter-Beiträgen
        innerhalb unserer Website. Die eingebetteten Inhalte können dabei
        Verknüpfung zum jeweiligen Profil bei Twitter sowie Möglichkeiten zur
        Interaktion mit den Twitter-Beiträgen und den Funktionen von Twitter
        enthalten. <br />Datenschutzerklärung: <a
          href="https://twitter.com/de/privacy"
          >https://twitter.com/de/privacy<br /></a
        >Einstellungen: <a href="https://twitter.com/personalization"
          >https://twitter.com/personalization</a
        >
      </li>
    </ul>

    <h2>Google Analytics</h2>
    <p>
      Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics.
      Anbieter ist die Google Ireland Limited („Google“), Gordon House, Barrow
      Street, Dublin 4, Irland.
    </p>
    <p>
      Google Analytics ermöglicht es dem Websitebetreiber, das Verhalten der
      Websitebesucher zu analysieren. Hierbei erhält der Websitebetreiber
      verschiedene Nutzungsdaten, wie z. B. Seitenaufrufe, Verweildauer,
      verwendete Betriebssysteme und Herkunft des Nutzers. Diese Daten werden
      dem jeweiligen Endgerät des Users zugeordnet. Eine Zuordnung zu einer
      Geräte-ID erfolgt nicht.
    </p>
    <p>
      Des Weiteren können wir mit Google Analytics u. a. Ihre Maus- und
      Scrollbewegungen und Klicks aufzeichnen. Ferner verwendet Google Analytics
      verschiedene Modellierungsansätze, um die erfassten Datensätze zu ergänzen
      und setzt Machine-Learning-Technologien bei der Datenanalyse ein.
    </p>
    <p>
      Google Analytics verwendet Technologien, die die Wiedererkennung des
      Nutzers zum Zwecke der Analyse des Nutzerverhaltens ermöglichen (z. B.
      Cookies oder Device-Fingerprinting). Die von Google erfassten
      Informationen über die Benutzung dieser Website werden in der Regel an
      einen Server von Google in den USA übertragen und dort gespeichert.
    </p>
    <p>
      Die Nutzung dieses Dienstes erfolgt auf Grundlage Ihrer Einwilligung nach
      Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG. Die Einwilligung ist
      jederzeit widerrufbar.
    </p>
    <p>
      Die Datenübertragung in die USA wird auf die Standardvertragsklauseln der
      EU-Kommission gestützt. Details finden Sie hier: <a
        href="https://privacy.google.com/businesses/controllerterms/mccs/"
        >https://privacy.google.com/businesses/controllerterms/mccs/</a
      >.
    </p>
    <h3>Browser Plugin</h3>
    <p>
      Sie können die Erfassung und Verarbeitung Ihrer Daten durch Google
      verhindern, indem Sie das unter dem folgenden Link verfügbare
      Browser-Plugin herunterladen und installieren:
      https://tools.google.com/dlpage/gaoptout?hl=de. Mehr Informationen zum
      Umgang mit Nutzerdaten bei Google Analytics finden Sie in der
      Datenschutzerklärung von Google: <a
        href="https://support.google.com/analytics/answer/6004245?hl=de"
        >https://support.google.com/analytics/answer/6004245?hl=de</a
      >.
    </p>
    <h3>Auftragsverarbeitung</h3>
    <p>
      Wir haben mit Google einen Vertrag zur Auftragsverarbeitung abgeschlossen
      und setzen die strengen Vorgaben der deutschen Datenschutzbehörden bei der
      Nutzung von Google Analytics vollständig um.
    </p>

    <h2>Facebook Pixel</h2>
    <p>
      Falls Sie zustimmen, nutzen wir Cookies zur statistischen Auswertung der
      Nutzung dieser Website und teilen Informationen über die Nutzung dieser
      Website mit Facebook zur Optimierung unserer politischen Kommunikation.
    </p>
    <p>
      Falls Sie zustimmen, nutzen wir Cookies zur statistischen Auswertung der
      Nutzung dieser Website und teilen Informationen über die Nutzung dieser
      Website mit Facebook zur Optimierung unserer politischen Kommunikation.
    </p>
    <p>
      In unserem Online-Angebot werden sog. „Facebook-Pixel“ des sozialen
      Netzwerkes Facebook genutzt.&nbsp;
    </p>
    <p>
      Diensteanbieter: Meta Platforms Ireland Limited, 4 Grand Canal Square,
      Grand Canal Harbour, Dublin 2, Irland. Mutterunternehmen: Meta Platforms,
      Inc., 1 Hacker Way, Menlo Park, CA 94025, USA. Die erfassten Daten werden
      nach Aussage von Meta jedoch auch in die USA und in andere Drittländer
      übertragen.
    </p>
    <p>
      Da eine entsprechende Einwilligung abgefragt wurde, erfolgt die
      Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO;
      die Einwilligung ist jederzeit widerrufbar.
    </p>
    <p>
      Mit Hilfe des Facebook-Pixels ist es Facebook möglich, die Besucher
      unserer Website als Zielgruppe für die Darstellung von Anzeigen, sog.
      „Facebook-Ads“ zu bestimmen. Dementsprechend setzen wir das Facebook-Pixel
      ein, um die durch uns geschalteten Facebook-Ads solchen Facebook-Nutzern
      anzuzeigen, die auch ein Interesse an unserem Internetangebot gezeigt
      haben. Das heißt, mit Hilfe des Facebook-Pixels möchten wir sicherstellen,
      dass unsere Facebook-Ads dem potentiellen Interesse der Nutzer entsprechen
      und nicht belästigend wirken. Mit Hilfe des Facebook-Pixels können wir
      ferner die Wirksamkeit der Facebook-Werbeanzeigen für statistische und
      Marktforschungszwecke nachvollziehen, in dem wir sehen, ob Nutzer nach dem
      Klick auf eine Facebook-Werbeanzeige auf unsere Website weitergeleitet
      wurden.
    </p>
    <p>
      Der Facebook-Pixel wird beim Aufruf unserer Webseiten und nach Ihrer
      Zustimmung auf dem Cookie-Banner eingebunden und kann auf Ihrem Gerät
      einen Cookie abspeichern. Wenn Sie sich anschließend bei Facebook
      einloggen oder im eingeloggten Zustand Facebook besuchen, wird der Besuch
      unseres Angebotes in Ihrem Profil vermerkt. Die über Sie erhobenen Daten
      sind für uns anonym, bieten uns also keine Rückschlüsse auf die Identität
      der Nutzer. Allerdings werden die Daten von Facebook gespeichert und
      verarbeitet, sodass eine Verbindung zum jeweiligen Nutzerprofil möglich
      ist. Die Verarbeitung der Daten durch Facebook erfolgt im Rahmen von
      Facebooks Datenverwendungsrichtlinie. Weitere Informationen zur
      Funktionsweise des Remarketing-Pixels und zur Darstellung von Facebook-Ads
      finden Sie in der Datenschutzerklärung: <a
        href="http://www.facebook.com/about/privacy"
        >http://www.facebook.com/about/privacy</a
      >/.
    </p>
    <p>
      Die Nutzung von Facebook-Pixel erfolgt auf Grundlage von Art. 6 Abs. 1
      lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an
      effektiven Werbemaßnahmen unter Einschluss der sozialen Medien. Sofern
      eine entsprechende Einwilligung abgefragt wurde (z. B. eine Einwilligung
      zur Speicherung von Cookies), erfolgt die Verarbeitung ausschließlich auf
      Grundlage von Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit
      widerrufbar.
    </p>
    <p>
      Die Datenübertragung in die USA wird auf die Standardvertragsklauseln der
      EU-Kommission gestützt. Details finden Sie hier: <a
        href="https://www.facebook.com/legal/EU_data_transfer_addendum"
        >https://www.facebook.com/legal/EU_data_transfer_addendum</a
      > und <a href="https://de-de.facebook.com/help/566994660333381"
        >https://de-de.facebook.com/help/566994660333381</a
      >
    </p>
    <p>
      Facebook-Nutzer können der Erfassung durch den Facebook-Pixel und
      Verwendung Ihrer Daten zur Darstellung von Facebook-Ads bei Facebook
      widersprechen. Hierzu können Sie die von Facebook eingerichtete Seite
      aufrufen und dort die Hinweise zu den Einstellungen nutzungsbasierter
      Werbung befolgen: <a href="https://www.facebook.com/settings?tab=ads"
        >https://www.facebook.com/settings?tab=ads</a
      >
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: 100%;
    margin: 0 auto;
  }
  a,
  ul,
  li,
  table,
  tbody,
  tr,
  td {
    max-width: 100%;
  }
</style>
