---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Truels Reichardt | SPD">
	<main>
		<img src="/platzhalter.jpg" alt="Platzhalter" class="platzhalter">
	</main>
</Layout>

<style>
	p{
		color: var(--black);
	}
	.platzhalter{
		height: calc(100vh - 150px);
		width: 100%;
		object-fit: contain;
		background-color: var(--red);
	}
</style>
