---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meine Motivation - Truels Reichardt | SPD">
  <main>
    <div class="wrapper">
      <h1>Meine Motivation</h1>
      <p>
        Seit nunmehr fast 8 Jahren ist die gesamte Westküste ohne eigenen
        sozialdemokratischen Abgeordneten bzw. eigene sozialdemokratische
        Abgeordnete.
      </p>
      <p>
        Und die für Nordfriesland und den Norden Dithmarschens gewählten
        Bundestagsabgeordneten der CDU haben recht wenig für unsere Region
        erreicht, wie man an den aktuellen Problemen in der Infrastruktur wie der
        Finanzierung des zweigleisigen Ausbaus der Marschbahn, dem gravierenden
        Investitionsstau am Hörnumer Hafen oder der wirtschaftlichen Schieflage
        unserer Kliniken sehen kann. Trotzdem soll an all diese Problemen auf
        einmal die Ampel schuld sein. Das ist scheinheilig und zeigt, dass es
        dringend eine andere Vertretung der Westküste in Berlin geben muss!
      </p>
      <p>
        Unsere Region steht vor enormen Herausforderungen, für deren Bewältigung
        eine hartnäckige Stimme in Berlin von großer Bedeutung ist.
      </p>
      <p>
        Ich sage euch und Ihnen zu, dass ich mich im Falle meiner Wahl in den
        Bundestag als Lobbyist im besten Sinne für die Westküste einsetzen werden:
        Für mehr Fördermittel, für die Ertüchtigung unserer Infrastruktur, für die
        auskömmliche Finanzierung unserer Kliniken und für den wirtschaftlichen
        Aufschwung unserer Region. Mit der Hartnäckigkeit, die man von mir aus der
        Kommunalpolitik kennt, nehme ich die Westküste in den Blick.
      </p>
      <p>
        Ich bin davon überzeugt: Die Westküste hat ein ausgesprochen großes
        Potential für die Zukunft. Hier kann sich in den nächsten Jahren und
        Jahrzehnten wirtschaftlich richtig viel bewegen. Das sollten wir mit viel
        Tatkraft angehen. Genau das will ich in Berlin für euch und Sie tun.
      </p>
      <p>
        An so zentraler Stelle die Rahmenbedingungen für meine Heimat mitgestalten
        zu dürfen, wäre eine große Herausforderung, die ich gerne annehme.
      </p>
      <p>
        Das sich zunehmend vergiftende politische Klima oder auch inhaltliche
        politische Entwicklungen machen mich nachdenklich. Denn ich würde lügen,
        wenn ich sage, dass ich ausschließlich begeistert bin von allem, was seit
        Jahrzehnten in Berlin passiert.
      </p>
      <p>
        Aber gerade das ist zugleich auch Ansporn: Ansporn, den Populisten und
        Rechtsextremisten unser Land nicht zu überlassen. Ansporn, Gutes weiter zu
        verbessern und Verbesserungswürdiges anzupacken. Und Ansporn,
        gesellschaftlichen Zusammenhalt wieder zu schaffen, damit wir eine gute
        Zukunft haben. Denn das – und davon bin ich überzeugt – kann nur die SPD!
      </p>
      <p>
        Wir brauchen wieder einen zukunftssicheren, funktionierenden Staat und
        eine Lastenverteilung, die die arbeitende Mitte aktuell und in Zukunft
        nicht noch mehr belastet. Dafür möchte ich mich in Berlin einsetzen.
      </p>
      <p>
        Meine konkreten Vorschläge dafür gibt es hier: LINK ZUR SEITE „MEINE
        THEMEN“
      </p>
    </div>
  </main>
</Layout>

<style>
    main{
      padding: 16px 0;
    }
    .wrapper{
      border-left: 4px solid var(--red);
      width: 90%;
      margin: 0 auto;
    }
    h1{
        text-align: center;
    }
    p{
        padding: 8px 16px;
    }
</style>
