---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meine Themen - Truels Reichardt | SPD">
  <main>
    <h1>Meine Themen</h1>
    <div class="wrapper">
      <div class="headline-container">
        <img
          src="/assets/icons/SPD_Faust_rot-frei_RGB.svg"
          alt="Faust Icon"
          class="icon"
        />
        <h2>Eine hartnäckige Stimme für die Westküste</h2>
      </div>
      <p>
        Unsere teilweise marode Hafen-, Radwege-, Schienen- und
        Straßeninfrastruktur benötigt (finanzielle) Ressourcen und einen
        Abgeordneten, der darauf achtet, dass die Westküste nicht zu kurz kommt.
      </p>
      <p>
        Unsere kommunalen Kliniken in Dithmarschen und Nordfriesland stehen
        unter enormem wirtschaftlichen Druck. Es ist zu befürchten, dass die
        Krankenhausreform nicht die notwendigen Verbesserungen bringt, die wir
        erhofft und erwartet haben. Als Stimme für die Westküste werde ich mich
        besonders für unsere beiden kommunalen Kliniken einsetzen – z.B. für
        eine Erhöhung der Vorhaltekosten in der Finanzierung.
      </p>
      <p>
        Unsere Kommunen stehen vor wahnsinnig großen Aufgaben, zugleich fehlen
        ihnen die finanziellen Mittel, diese zu bewältigen. Als
        Bundestagsabgeordneter werde ich Politik und Verwaltung aus dem
        Wahlkreis selbstverständlich jederzeit gerne unterstützen, wenn es darum
        geht, die Interessen der Kommunen z.B. bei der Einwerbung von
        Fördermitteln gegenüber dem Bund durchzusetzen. Aber ich weiß aus
        eigener kommunalpolitischer Erfahrung auch, dass für die Bewältigung der
        kommunalen und gesamtstaatlichen Herausforderungen mehr benötigt wird
        als eine andere Verteilung der vorhandenen Mittel.
      </p>
    </div>
    <div class="wrapper">
      <div class="headline-container">
        <img
          src="/assets/icons/SPD_Geld_rot-frei_RGB.svg"
          alt="Geld Icon"
          class="icon"
        />
        <h2>
          Reform von Schuldenbremse und Erbschaftsteuer, Wiedereinführung der
          Vermögensteuer
        </h2>
      </div>
      <p>
        Der Staat muss funktionieren – verlässlich, unkompliziert und gerecht.
        Wir spüren aber an allen Ecken und Enden, wie in Folge
        christdemokratischer und liberaler Sparpolitik diese Funktionsfähigkeit
        beeinträchtigt wurde. Wir müssen dringend investieren – in einem Umfang,
        wie wir es in Deutschland nie hatten.
      </p>
      <p>
        Investitionen in Bildung, Wärme- und Energiewende, Sicherheit,
        Digitalisierung, Infrastruktur, Gesundheitssystem und andere kommunale
        Einrichtungen wie Sporthallen und Schwimmbäder bezahlen sich eben nicht
        aus der Portokasse. Als ein Mitglied der Generation, die die heute
        gemachten Schulden morgen wieder zurückzahlen soll, fordere ich, dass
        eine Reform der Schuldenbremse unbedingt mit einer Reform der
        Erbschaftsteuer und der Wiedereinführung der Vermögensteuer verbunden
        werden muss. Nur so schaffen wir einen zukunftssicheren,
        funktionierenden Staat und eine Lastenverteilung, die die Mitte aktuell
        und in Zukunft nicht noch mehr belastet.
      </p>
      <p>
        Natürlich kann und soll man auch gucken, wo man sparen kann. Aber wer so
        tut, als würde man mit 2 Milliarden Euro Einsparungen beim Bürgergeld
        Deutschlands Investitionsbedarf decken können, versucht im besten Fall
        von Problemen abzulenken – oder im wahrscheinlicheren Fall bewusst die
        Bevölkerung zu verschaukeln und Unfrieden zu stiften.
      </p>
      <p>
        Wenn Friedrich Merz und Christian Lindner sich gegen eine Reform der
        Schuldenbremse wehren, sollen sie ehrlicherweise auch sagen, wo sie
        sparen wollen:
      </p>
      <ul>
        <li>
          Beim Rechtsanspruch auf die Offene Ganztagsschule? Hier reicht das
          Geld ja schon jetzt nicht aus – auch, weil sich die schwarz-grüne
          Landesregierung aus der Affäre zieht!
        </li>
        <li>
          Bei der Wärme- und Energiewende? Viele Gemeinden kommen ja schon bei
          der Entwicklung von Quartierskonzepten nicht voran, weil die Förderung
          Ende 2023 gestoppt wurde. Von den riesigen Investitionen in
          Wärmenetze, Bestandssanierung oder Netzausbau ganz zu schweigen.
        </li>
        <li>
          An der Sicherheit? Schon jetzt ist absehbar, dass das Sondervermögen
          für die Bundeswehr angesichts der immer bedrohlicher werdenden
          internationalen Konflikte nicht ausreicht.
        </li>
        <li>
          Am Küsten- und Katastrophenschutz? Wir haben durch den Klimawandel und
          die multiple Bedrohungslage neue kostspielige Anforderungen an den
          Katastrophenschutz – und hier an der Westküste insbesondere enorme
          Herausforderungen im Bereich des Küstenschutzes.
        </li>
        <li>
          An der Digitalisierung? Die Digitalisierung gerade in den öffentlichen
          Verwaltungen erfordert Investitionen. Und da müssen wir endlich mal
          richtig vorankommen, um Prozesse effizienter, bürgerfreundlicher und
          praktikabel für die Wirtschaft hinzubekommen.
        </li>
        <li>
          An der Infrastruktur? CSU-Verkehrsminister haben sich in den letzten
          Jahrzehnten zu Lasten der anderen vor allem um Bayern gekümmert. Auch
          deswegen haben wir im Rest von Deutschland einen großen
          Investitionsbedarf, auch an der Westküste: Die Werksanlieferung für
          Northvolt per Zug ist mangels Infrastruktur problematisch, die
          Marschbahn insgesamt bereitet uns genauso Kummer wie viele unserer
          Häfen, Fähranleger und Wasserstraßen.
        </li>
        <li>
          Am Gesundheitssystem? Hier kommt nicht nur durch die Krankenhausreform
          einiges auf uns zu. Das Klinikum Nordfriesland plant einen Neubau in
          Husum. Wo sollen die benötigten 200 Millionen Euro dafür herkommen? An
          dem Beinahe-Kahlschlag im Medizinischen Versorgungszentrum in Niebüll
          sehen wir, dass unser Gesundheitssystem unterfinanziert ist. Das geht
          so nicht weiter!
        </li>
        <li>
          An der Finanzausstattung unserer Städte und Gemeinden? Auch kommunale
          Einrichtungen wie Sporthallen und Schwimmbäder sind aus eigener Kraft
          der Gemeinden nicht zu finanzieren,und die Herausforderung sind
          aktuell riesig!
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="headline-container">
        <img
          src="/assets/icons/SPD_Gluehbirne_rot-frei_RGB.svg"
          alt="Glühbirne Icon"
          class="icon"
        />
        <h2>Kostenlose Bildung von der KiTa bis zum Meister oder Master</h2>
      </div>
      <p>
        Wir brauchen also nicht nur eine stärkere Besteuerung der Reichen,
        sondern in Anbetracht des demografischen Wandels und zunehmender
        Teilzeitbeschäftigungen auch Maßnahmen zur Steigerung der Produktivität,
        damit nicht der Ast abbricht, auf dem wir sitzen. Warum also nicht von
        Bundesseite Rahmenbedingungen schaffen, damit Bildung von der KiTa bis
        zum Meister oder Master endlich wirklich kostenfrei wird? Nur so werden
        hohe Betreuungskosten nicht zum Hemmnis für Mehrarbeit bei Eltern , nur
        so bekommen alle Kinder beste Startchancen! Die Entlastung bei
        Kinderbetreuung und Bildung ist aus meiner Sicht nicht nur ökonomisch
        sinnvoll, sondern auch sozial gerecht – entlastet sie doch besonders die
        Familien, die vergleichsweise knapp keine Sozialleistungen beziehen. Wir
        müssen die Vielen der arbeitenden Mitte entlasten, damit gutes Leben
        bezahlbar bleibt.
      </p>
    </div>
    <div class="wrapper">
      <div class="headline-container">
        <img
          src="/assets/icons/SPD_Hand_5_rot-frei_RGB.svg"
          alt="Hände-Schütteln Icon"
          class="icon"
        />
        <h2>Demokratie schützen – selbstkritisch sein</h2>
      </div>
      <p>
        Die rechtsextreme AfD verfolgt eine auf allen Ebenen
        durchchoreografierte Strategie, an deren Ende die Machtergreifung und
        die Abschaffung der Demokratie stehen. Es müssen mit Hochdruck
        ausreichend juristische Belege für die Verfassungsfeindlichkeit der AfD
        gesammelt und sodann ein Verbotsverfahren in Gang gesetzt werden! Ein
        Parteienverbot wird zwar kaum die Faschisten an der Spitze der AfD wie
        Höcke von seiner Haltung abbringen, wohl aber den einen oder die andere
        Mitläufer/in zum Nachdenken bringen.
      </p>
      <p>
        Wichtig ist mir, dass es nicht mit einem möglichen Verbotsverfahren
        getan ist. Denn es gibt Gründe für den Zuspruch zur AfD, vor denen wir
        nicht die Augen verschließen dürfen.
      </p>
      <p>
        Denn die AfD spaltet nicht nur, sondern sie bildet auch Spaltung ab.
        Diese ist bei einem Verbot nicht weg, an mehr gesellschaftlichem
        Zusammenhalt müssen wir weiter mit Hochdruck arbeiten – und zwar mit
        Taten und nicht mit Worten!
      </p>
      <p>
        Regelmäßige Beschwichtigungen nach verlorenen Wahlen auch aus der SPD
        getreu dem Motto „Wenn wir den Leuten besser erzählen, wie toll wir
        sind, werden sie uns schon wählen“ helfen nicht. Wenn man sich bei den
        ganz normalen Leuten umhört, wird klar, was zu tun ist:
      </p>
      <ol>
        <li>
          Arbeiten muss sich mehr lohnen, Familien müssen entlastet werden. Am
          besten durch eine Einkommensteuerreform und durch kostenlose Bildung
          von der KiTa bis zum Meister oder Master. Das ist nicht nur sozial
          gerecht, sondern auch ökonomisch kurz- und langfristig sinnvoll.
        </li>
        <li>
          Der Staat muss wieder gut funktionieren – verlässlich, unkompliziert
          und gerecht. Damit die Menschen den demokratischen Rechtsstaat wieder
          wertschätzen und weniger anfällig gegen Rechtsextremismus werden,
          müssen dringend notwendige Investitionen in Infrastruktur, Gesundheit,
          Sicherheit und Bildung endlich spürbar vorangebracht werden.
        </li>
        <li>
          Selbstverständlich verteidigen wir als Sozialdemokratie das Grundrecht
          auf Asyl und helfen anerkannten Asylbewerberinnen und Asylbewerbern
          dabei, sich schnell in unsere Gesellschaft und unsere Kultur zu
          integrieren. Dafür erwarten wir aber im Gegenzug, dass sie die Werte
          und Gesetze ihres Gastlandes beachten. Zugleich müssen wir wirksame
          Lösungen für das Thema irreguläre Migration finden und Probleme mit
          zunehmender Ausländerkriminalität klarer benennen. In diesem
          Zusammenhang ist es aus meiner Sicht wichtig, die
          Durchsetzungsfähigkeit des Rechtsstaats zu stärken und sich nicht auf
          sinnlose symbolische Aktionen wie Grenzkontrollen zu fokussieren.
        </li>
      </ol>
    </div>
  </main>
</Layout>

<style>
  main {
    background-position-y: top;
    background-image: linear-gradient(
      165deg,
      var(--white) 250px,
      var(--red) 250px
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--red);
    padding: 24px 0;
  }
  h1 {
    padding-top: 0;
    color: var(--red);
  }
  h2 {
    padding: 16px;
    padding-bottom: 0;
  }
  .wrapper {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 0.75px var(--black);
    border-radius: 16px;
    overflow: hidden;
    opacity: 0;
    padding-bottom: 16px;
  }
  .wrapper__img {
    width: 100%;
  }
  .wrapper + .wrapper {
    margin-top: 32px;
  }
  .show {
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
  }
  .headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  li + li {
    margin-top: 8px;
  }
  li {
    padding-right: 8px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>

<script>
  const containerList = document.querySelectorAll(".wrapper");

  const containerObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);
        if (entry.isIntersecting) {
          containerObserver.unobserve(entry.target);
        }
      });
    },
    {
      threshold: 0.1,
    }
  );

  containerList.forEach((container) => {
    containerObserver.observe(container);
  });
</script>
