---

---

<div class="container">
  <div id="fb-root"></div>
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v21.0"
  ></script>
  <div
    class="fb-page"
    data-href="https://www.facebook.com/truels.reichardt.spd/"
    data-tabs="timeline, events, messages"
    data-small-header="false"
    data-adapt-container-width="true"
    data-hide-cover="false"
    data-show-facepile="true"
    data-lazy="true"
  >
    <blockquote
      cite="https://www.facebook.com/truels.reichardt.spd/"
      class="fb-xfbml-parse-ignore"
    >
      <a href="https://www.facebook.com/truels.reichardt.spd/"
        >Truels Reichardt</a
      >
    </blockquote>
  </div>
</div>

<style>
  .container {
    position: relative;
    padding: 48px 16px;
    width: 300px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .fb-page {
    width: 100%;
  }
  .fb-page .fb_iframe_widget > span {
    width: 100%;
  }
  html,
  body {
    height: 100%;
  }
  .h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
</style>
