---

---

<footer>
  <div class="sm-container">
    <a
      href="https://www.facebook.com/truels.reichardt.spd/"
      class="sm-container__link"
      ><img
        src="/assets/icons/SPD_Facebook_weiss-frei_RGB.svg"
        alt="Facebook Icon"
        class="icon"
      /></a
    >
    <a
      href="https://www.instagram.com/truelsreichardt/"
      class="sm-container__link"
      ><img
        src="/assets/icons/SPD_Instagram_weiss-frei_RGB.svg"
        alt="Instagram Icon"
        class="icon"
      /></a
    >
  </div>
  <div class="link-container">
    <a href="/datenschutz">Datenschutz</a><span>|</span><a href="/impressum"
      >Impressum</a
    >
  </div>
</footer>

<style>
  footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .sm-container {
    position: relative;
  }
  .sm-container__link {
    width: 40px;
    height: 40px;
    background-color: var(--white);
  }
  .icon {
    width: 40px;
    height: 40px;
    fill: #fff !important;
  }
  a {
    color: var(--white);
  }
</style>
