---
import InstagramIcon from "/assets/icons/SPD_Instagram_weiss-frei_RGB.svg?raw";
import FacebookIcon from "/assets/icons/SPD_Facebook_weiss-frei_RGB.svg?raw";
---

<footer>
  <div class="sm-container">
    <a
      href="https://www.facebook.com/truels.reichardt.spd/"
      target="_blank"
      class="sm-container__link"
    >
      <img src="/assets/icons/SPD_Facebook_rot-frei_RGB.svg" class="white" />
    </a>
    <a
      href="https://www.instagram.com/truelsreichardt/"
      target="_blank"
      class="sm-container__link"
    >
      <img
        src="/assets/icons/SPD_Instagram_rot-frei_RGB.svg"
        class="white"
        alt="Instagram Icon"
      />
    </a>
  </div>
  <div class="link-container">
    <a href="/datenschutz">Datenschutz</a><span class="spacer">|</span><a
      href="/impressum">Impressum</a
    >
  </div>
</footer>

<style>
  footer {
    height: 48px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .sm-container {
    position: relative;
    display: flex;
    gap: 16px;
  }
  .sm-container__link {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .white {
    filter: invert(93%) sepia(93%) saturate(30%) hue-rotate(49deg)
      brightness(107%) contrast(106%);
    height: 20px;
    width: 20px;
  }
  .spacer {
    padding: 0 16px;
  }
  a {
    color: var(--white);
  }
</style>
