---
const currentPath = Astro.url.pathname;
---

<header>
  <div class="header__banner-container">
    <a href="/">
      <img
        src="/assets/images/Truels_Reichardt_Banner.jpg"
        alt="Banner Truels Reichardt SPD mit Wahlslogan"
        class="header__banner"
      />
    </a>
    <div class="sticker">
      <p>
        Am <br />23. Februar <br />
        <span class="sticker__SPD">SPD</span>
        <br /> wählen!
      </p>
    </div>
  </div>
  <!-- <div class="headline-container">
    <div class="headline-container__spacing">
      <a href="/">
        <img
          src="/assets/images/BTW25_CtA_Waehlen_rot_RGB.svg"
          alt="Wahlaufruf 'Am 23. Februar SPD wählen'"
          class="headline-container__stoerer"
        /></a
      >
    </div>
    <div class="headline-container__spacing rose">
      <a href="/">
        <img
          src="/SPD_Rose_rot-frei_RGB.png"
          alt="SPD Rose rot"
          class="headline-container__rose"
        />
      </a>
    </div>
    <div class="headline-container__text">
      <h2>Truels Reichardt</h2>
      <p class="headline-container__slogan">
        Die Westküste im Herzen. <br />Die Zukunft im Blick.
      </p>
    </div>
  </div> -->
  <div class="nav">
    <div class="menu-icon">
      <input id="navbar-toggle" name="navbar-toggle" type="checkbox" />
      <label for="navbar-toggle" class="navbar-toggle-handler">
        <div class="menu-icon-bar__container">
          <div class="menu_icon_bar line-top"></div>
          <div class="menu_icon_bar line-center"></div>
          <div class="menu_icon_bar line-bottom"></div>
        </div>
        <span class="sr-only"> Klicken, um Menu zu öffnen </span>Menü
      </label>
    </div>
  </div>
  <nav id="navbar">
    <menu>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/" ? "active" : ""}`}
          href="/">Startseite</a
        >
      </li>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/aktuelles/" ? "active" : ""}`}
          href="/aktuelles/">Aktuelles</a
        >
      </li>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/ueber-mich/" ? "active" : ""}`}
          href="/ueber-mich/">Über mich</a
        >
      </li>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/motivation/" ? "active" : ""}`}
          href="/motivation/">Meine Motivation</a
        >
      </li>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/themen/" ? "active" : ""}`}
          href="/themen/">Meine Themen</a
        >
      </li>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/transparenz/" ? "active" : ""}`}
          href="/transparenz/">Transparenz</a
        >
      </li>
      <li>
        <a
          class={`header-nav-link ${currentPath === "/kontakt/" ? "active" : ""}`}
          href="/kontakt/">Kontakt</a
        >
      </li>
    </menu>
  </nav>
</header>

<style>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 178px;
    z-index: 99;
    background-color: var(--white);
  }
  .header__banner-container {
    position: relative;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--red);
  }
  .header__banner {
    height: 140px;
    width: 375px;
    object-fit: cover;
  }
  .headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    color: var(--red);
    padding: 16px;
    max-width: 720px;
    margin: 0 auto;
  }
  .headline-container__text {
    padding: 0;
    text-align: right;
  }
  .headline-container__slogan {
    font-size: 12px;
    margin-top: 8px;
    padding-top: 0;
    padding-right: 0;
    color: var(--black);
  }
  .headline-container__text > h2 {
    margin: 0;
  }
  .headline-container__text > p {
    margin-top: 0;
  }
  .headline-container__stoerer {
    width: 70px;
    height: 70px;
  }
  .headline-container__rose {
    width: 60px;
    height: 60px;
  }
  .rose {
    display: none;
  }
  .nav {
    background-color: var(--red);
    color: var(--white);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--white);
  }
  .menu_icon {
    position: absolute;
    right: 15px;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    padding: 6px 6px;
    display: flex;
  }
  .menu_icon_bar {
    background-color: var(--white);
    height: 2px;
    width: 25px;
    transition: transform 150ms;
    margin: 6px 6px;
  }

  #navbar-toggle {
    all: unset;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
  }

  .navbar-toggle-handler {
    display: flex;
    align-items: center;
  }

  .menu-icon-bar__container {
    display: block;
  }

  #navbar-toggle:checked
    ~ .navbar-toggle-handler
    > .menu-icon-bar__container
    > .line-top {
    transform: translateY(400%) rotate(45deg);
  }

  #navbar-toggle:checked
    ~ .navbar-toggle-handler
    > .menu-icon-bar__container
    > .line-center {
    opacity: 0;
  }

  #navbar-toggle:checked
    ~ .navbar-toggle-handler
    > .menu-icon-bar__container
    > .line-bottom {
    transform: translateY(-400%) rotate(-45deg);
  }

  /* body:has(#navbar-toggle:checked) {
    overflow: hidden;
  } */

  #navbar {
    display: none;
    top: 140px;
    left: 0;
    background-color: var(--red);
    width: 100%;
    border-top: 1px solid var(--white);
    animation: fadeInLeft 0.5s ease;
    padding-bottom: 32px;
  }

  menu {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    height: calc(100vh - 140px);
    overflow-y: scroll;
  }
  .active {
    color: var(--red) !important;
    font-family: "SPD The Sans Bold";
  }
  li {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  li:last-child {
    padding-bottom: 120px;
  }
  .header-nav-link {
    text-decoration: none;
    background-color: var(--white);
    color: var(--primary);
    font-size: 1.2rem;
    padding: 16px;
    border-radius: 16px;
    width: 200px;
    text-align: center;
  }
  .sticker {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 16px;
    width: 140px;
    height: 140px;
    background-color: var(--white);
    border-radius: 50%;
    transform: rotate(-15deg);
    text-align: center;
    box-shadow: -7px -1px 20px 0 var(--black);
  }
  .sticker__SPD {
    font-weight: 900;
    font-size: 1.6rem;
    font-family: "SPD The Sans Bold", sans-serif;
  }
  @media screen and (min-width: 768px) {
    .rose {
      display: flex;
      justify-content: center;
    }
    .headline-container__spacing,
    .headline-container__text {
      width: 250px;
    }
    .headline-container__text > h2 {
      text-align: right;
    }
    .header {
      height: 198px;
    }
    .header__banner-container,
    .header__banner {
      height: 160px;
    }
    .header__banner {
      width: 100%;
      object-fit: contain;
    }
    .sticker {
      display: flex;
    }
  }
  @media screen and (min-width: 1275px) {
    .menu_icon,
    #navbar-toggle,
    .navbar-toggle-handler,
    .navbar-toggle-handler > .sr-only {
      display: none;
    }
    .header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      opacity: 1 !important;
      overflow-x: hidden;
    }
    .header-nav-link {
      font-size: 1.1rem;
      transition: all 250ms;
      padding: 8px;
      text-align: center;
      width: 140px;
      border: 1px solid var(--red);
    }
    .header-nav-link:hover {
      background-color: var(--red);
      color: var(--white) !important;
      border: 1px solid var(--white);
    }
    #navbar {
      position: relative;
      top: 0;
      display: flex;
      height: 36px;
      animation: none;
    }
    .nav {
      height: 0;
    }
    menu {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      padding-top: 0;
      overflow: hidden;
      border-bottom: 2px solid var(--white);
    }
    li {
      height: 40px;
      align-items: center;
    }
  }
  @media screen and (max-height: 580px, max-width: 1275px) {
    #navbar {
      overflow-y: scroll;
      height: calc(100vh - 80px);
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>

<script>
  const input = document.querySelector("#navbar-toggle") as HTMLInputElement;
  const navBar = document.querySelector("#navbar") as HTMLElement;

  document.addEventListener("change", toggleMenu);

  function toggleMenu() {
    input!.checked
      ? (navBar!.style.display = "block")
      : (navBar!.style.display = "none");
  }
</script>
