---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="main">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --red: rgb(227, 0, 15);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
  }
  html,
  body {
    font-family: "SPD The Sans", system-ui, sans-serif;
    background: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "SPD The Sans Bold";
    text-align: center;
    hyphens: auto;
    line-height: 1.6;
  }
  .main {
    padding-top: 136px;
  }
  p {
    padding: 8px 16px;
    max-width: 60ch;
    margin: 0 auto;
    line-height: 1.6;
  }
  li {
    max-width: 60ch;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1.2rem;
    }
    li {
      font-size: 1.2rem;
    }
  }
  @media screen and (min-width: 1275px) {
    .main {
      padding-top: 162px;
    }
  }
  @font-face {
    font-family: "SPD The Sans";
    src: url(/font/SPD2002TheSans.ttf);
  }
  @font-face {
    font-family: "SPD The Sans Bold";
    src: url(/font/SPD2002TheSans-Bold.ttf);
  }
  @media (prefers-reduced-motion) {
    * {
      animation: none;
      opacity: 1;
      transition: none;
    }
  }
</style>
